<h2>Vehicle List</h2>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vehicles">
            <td>{{ v.make }}</td>
            <td>{{ v.model }}</td>
            <td>{{ v.year }}</td>
        </tr>
    </tbody>
</table>

<h3>Add Vehicle</h3>

<form>
    <input [(ngModel)]="newVehicle.make" maxlength="14" name="make" placeholder="Make" required />
    <input [(ngModel)]="newVehicle.model" maxlength="20" name="model" placeholder="Model" required />
    <input [(ngModel)]="newVehicle.year" name="year" type="number" />

    <button type="submit" [disabled]="newVehicle.make == '' || newVehicle.model == ''"
        (click)="addVehicle()">Add</button>
</form>